.history/
/.build/
/.vscode/
/vendor/
.composer/
/.env*
/.idea/
/.build-docs/
/shaPipe.log
/.pipeline-key*
/test/example/simple-php/vendor/
/test/example/simple-php/cache/
/.test*
/scratch.txt
/.last-run-test
/test.stats
/coverage.stats
/test-coverage/
