.history/
/.build/
/.vscode/
/vendor/
.composer/
/.env*
/.idea/*.xml
/.idea/*.iml
/.build-docs/
/shaPipe.log
/.pipeline-key*
/test/example/simple-php/vendor/
/test/example/simple-php/cache/
/.test*
/scratch.txt
/.last-run-test
/test.stats
/coverage.stats*
/test-coverage/
.interrupt
# For now - too big
/etc/packages/
/.idea/*/
ORIGINALS/
/documentation/docs/
/documentation/mkdocs.yml
/documentation/site/
/documentation/source/*.csv
