#
# Zesk Build BitBucket Pipeline
#
# Copyright &copy; 2025 Market Acumen Inc.
#
# Requires: docker
#
# - 8x costs 8x the cost, speedup is 10% or so as most tests are I/O bound
# - 2x is adequate for Bitbucket Pipelines
#
# otherwise tests fail with `interrupt` when memory runs out (I assume)
#
image: atlassian/default-image:4

pipelines:
  branches:
    main:
      - step:
          deployment: production
          name: Production Build
          size: 1x
          services:
            - docker
          artifacts:
            - .build.env
          script:
            - bin/build.sh --commit
      - parallel:
          steps:
            - step:
                artifacts:
                  - test.stats
                services:
                  - docker
                size: 2x
                name: Fast Tests 2x
                script:
                  - bin/tools.sh buildProductionTest --env-file .build.env --skip-tag slow --skip-tag package-install
            - step:
                artifacts:
                  - test.stats
                services:
                  - docker
                size: 2x
                name: Slow Tests 2x
                script:
                  - bin/tools.sh buildProductionTest --env-file .build.env --tag slow
            - step:
                artifacts:
                  - test.stats
                services:
                  - docker
                size: 1x
                name: Package Tests 1x
                script:
                  - bin/tools.sh buildProductionTest --env-file .build.env --tag package-install --skip-tag package-install-last # poor man's ordering
                  - bin/tools.sh buildProductionTest --env-file .build.env --tag package-install --tag package-install-last # poor man's ordering
      - step:
          name: Production Deploy
          artifacts:
            - documentation/.site/
            - documentation/.docs/
          script:
            - bin/build/tools.sh environmentFileLoad .build.env --execute bin/build.sh --documentation
            - bin/deploy.sh --env-file .build.env --documentation --release
    staging:
      - step:
          artifacts:
            - .build.env
          size: 1x
          deployment: staging
          name: Build 1x
          services:
            - docker
          script:
            - bin/build.sh
      - parallel:
          steps:
            - step:
                artifacts:
                  - test.stats
                services:
                  - docker
                size: 2x
                name: Fast Tests 2x
                script:
                  - bin/tools.sh buildStagingTest --env-file .build.env --skip-tag slow --skip-tag package-install
            - step:
                artifacts:
                  - test.stats
                services:
                  - docker
                size: 2x
                name: Slow Tests 2x
                script:
                  - bin/tools.sh buildStagingTest --env-file .build.env --tag slow
            - step:
                artifacts:
                  - test.stats
                services:
                  - docker
                size: 1x
                name: Package Tests 1x
                script:
                  - bin/tools.sh buildStagingTest --env-file .build.env --tag package-install --skip-tag package-install-last
                  - bin/tools.sh buildStagingTest --env-file .build.env --tag package-install --tag package-install-last
      - step:
          name: Staging Deploy 4x
          size: 4x
          artifacts:
            - documentation/.site/
            - documentation/.docs/
          script:
            - bin/build/tools.sh environmentFileLoad .build.env --execute bin/build.sh --documentation --commit
            - bin/deploy.sh --env-file .build.env --documentation --no-release
    deploy:
      - step:
          size: 1x
          deployment: deploy
          name: Just Deploy
          services:
            - docker
          script:
            - bin/build.sh --documentation
            - bin/deploy.sh --env-file .build.env --documentation --release
    test:
      - step:
          deployment: test
          name: Just Test
          size: 2x
          artifacts:
            - test.stats
            - .last-run-test
          services:
            - docker
          script:
            - IFS=' ' read -r -a aa < <(printf "%s\n" "${BUILD_TEST_ARGUMENTS-}")
            - BUILD_TEST_FLAGS="${BUILD_TEST_FLAGS-};Plumber:true;Housekeeper:true" BUILD_DEBUG="${BUILD_DEBUG-%,},usage" bin/test.sh "${aa[@]+"${aa[@]}"}"
    docs:
      - step:
          deployment: documentation
          name: Build documentation
          artifacts:
            - documentation/.site/
            - documentation/.docs/
          script:
            - bin/build.sh --documentation --commit
            - bin/deploy.sh --env-file .build.env --documentation --no-release
    coverage:
      - step:
          deployment: coverage
          name: Coverage stats
          size: 2x
          artifacts:
            - test.stats
            - coverage.stats.gz
          services:
            - docker
          script:
            - IFS=' ' read -r -a aa < <(printf "%s\n" "${BUILD_TEST_ARGUMENTS-}")
            - bin/build.sh --no-documentation --no-commit --debug
            - BUILD_TEST_FLAGS="${BUILD_TEST_FLAGS-};Plumber:false;Housekeeper:false" BUILD_DEBUG="${BUILD_DEBUG-%,},usage" bin/test.sh --coverage "${aa[@]+"${aa[@]}"}"
            - ls -la coverage.stats
            - sort < coverage.stats | uniq -c | sort -rn > coverage.stats.uniq
            - mv -f coverage.stats.uniq coverage.stats
            - ls -la coverage.stats
            - gzip coverage.stats
